$font-primary				:  			'Raleway', sans-serif;
$font-secondary		 		: 			'Poiret One', cursive;

$color-black				:  			#262C30;
$color-darkGrey				:  			#BEBEBE;
$color-mediumGrey			:   		#D8D8D8;
$color-lightGrey			:   		#E5E5E5;
$color-offWhite				:   		#fAFAFA;
$color-white				: 			#ffffff;
$color-primary				: 			#FFD48D;