button, .btn {
	padding: 15px 40px;
	background: transparent;
	border: none;
	color: $color-black;
	cursor: pointer;
	transition: all 300ms ease;

	&.btn-primary {
		border: 1px solid $color-black;

		&:hover {
			border: 1px solid $color-black;
			background: $color-black;
			color: $color-white;
		}
	}
}