// Grid

$max-width		: 		em(960);

// Breakpoints

$mobile-sm		: 		new-breakpoint(max-width 320px);
$mobile			: 		new-breakpoint(max-width 480px);
$landscape		: 		new-breakpoint(max-width 667px);
$tablet			: 		new-breakpoint(max-width 768px);
$desktop		: 		new-breakpoint(max-width 960px);

.container {
	@include outer-container;

	@include media($desktop) {
		padding: 0 2%;
	}

	@include media($mobile) {
		padding: 0 5%;
	}
}